<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wootion.cast.vehcert.repository.VehcertMapper">
    <resultMap id="BaseResultMap" type="com.wootion.cast.vehcert.domain.Vehcert">
    </resultMap>
    <!--栏位信息 -->
    <sql id="selectColumn"> m.*</sql>

    <!-- 查询条件 -->
    <sql id="base_where_sql">
        <where>
            <if test="vinCode != null and vinCode != ''">
                and VIN_CODE =  #{ vinCode }
            </if>
            <if test="cateCode != null and cateCode != ''">
                and CATE_CODE = #{ cateCode }
            </if>
            <if test="status != null and status != ''">
                and STATUS = #{ status }
            </if>
            <if test="status != null and status != ''">
                and STATUS = #{ status }
            </if>
            <if test="factory != null and factory != ''">
                and FACTORY = #{ factory }
            </if>
        </where>
    </sql>


    <!--列表查询-->
    <select id="findEnterprise" resultMap="BaseResultMap" parameterType="Object">
        SELECT
        <include refid="selectColumn"></include>
        FROM t_vehcert m
        <include refid="base_where_sql"></include>
    </select>
</mapper>